<div *ngIf="!isLoading">
	<!-- <img src="{{anime.banner_image}}" alt=""> -->
	<div class="container">
		<img class="banner" src="{{anime.banner_image}}" alt="banner image" />
		<div class="flex-container">
			<div class="image-container">
				<img
					class="cover-image"
					src="{{anime.cover_image}}"
					alt="cover image"
				/>
			</div>
			<div>
				<h1>{{anime.titles.en}} ({{anime.titles.jp}})</h1>
				<div [innerHTML]="anime.descriptions.en"></div>
				<br />
				<mat-divider></mat-divider>
				<br />
				<mat-chip-list aria-label="Genre">
					<mat-chip *ngFor="let genre of anime.genres">{{genre}} </mat-chip>
				</mat-chip-list>
				<br />
				<h3>
					<a href="{{anime.trailer_url}}">View youtube video</a>
				</h3>
				<div>
					<h4>Episodes: {{anime.episodes_count}}</h4>
					<h4>Avg Duration: {{anime.episode_duration}}</h4>
					<h4>Score: {{anime.score}}/100</h4>
					<h4>Session Year: {{anime.season_year}}</h4>
					<h4>Start Date: {{anime.start_date | date: 'dd/MM/yyyy'}}</h4>
					<h4>End Date: {{anime.end_date | date: 'dd/MM/yyyy'}}</h4>
				</div>
				<div *ngFor="let episode of episodes | slice:0:10">
					episode
				</div>
				<form>
					<mat-form-field class="full-width" appearance="fill">
						<mat-label>Leave a comment</mat-label>
						<textarea matInput name="comment" [(ngModel)]= "comment" placeholder="Ex. It makes me feel..."></textarea>
					</mat-form-field>
					<button mat-raised-button color="primary" (click)='addComment()'>
						Comment
					</button>
				</form>

				<div *ngIf='comments.length'>
					<h2>Comments</h2>
					<mat-divider></mat-divider>
					<h4>{{comments}}</h4>
				</div>
			</div>
		</div>
	</div>
</div>
